<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Endpoints</title>
</head>
<body style="background-color: #252424; color: aliceblue;">
    <h1>Bienvenido a nuestra API REST</h1>
    <p>Rutas disponibles:</p>
    <ul>
      <li><code>POST /user/login</code> - Obtener usuarios</li>
      <li><code>POST /user/register</code> - Crear un usuario</li>
      <li><code>GET /task/:id</code> - Obtener publicaciones</li>
    </ul>
</body>
</html>